[package]
name = "marginfi"
version = "0.1.0"
description = "Created with Anchor"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "marginfi"

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []
test-bpf = ["test"]
test = []
client = []

[dependencies]
anchor-lang = "0.26.0"
anchor-spl = "0.26.0"
bytemuck = "1.9.1"
fixed = "1.12.0"
fixed-macro = "1.2.0"
lazy_static = "1.4.0"
pyth-sdk-solana = "0.7.0"
solana-program = "1.14.10"
static_assertions = "1.1.0"

[dev-dependencies]
anyhow = "1.0.66"
assert_matches = "1.5.0"
bincode = "1.3.3"
pretty_assertions = "1.2.1"
solana-logger = "1.14.10"
solana-program-test = "1.14.10"
solana-sdk = "1.14.10"
