[package]
name = "marginfi-fuzz"
version = "0.0.0"
publish = false
edition = "2021"

[package.metadata]
cargo-fuzz = true

[dependencies]
solana-sdk = { workspace = true }
solana-program = { workspace = true }
spl-token = { workspace = true }

anchor-lang = { workspace = true }

pyth-sdk-solana = { workspace = true }

anyhow = "1.0.68"
arbitrary = { version = "1.2.2", features = ["derive"] }
bumpalo = "3.11.1"
libfuzzer-sys = "0.4"
safe-transmute = "0.11.2"
rand = "0.8.5"
bytemuck = "1.12.3"
fixed = "1.21.0"
fixed-macro = "1.2.0"
lazy_static = "1.4.0"
log = { version = "0.4.17", optional = true }
log4rs = { version = "1.2.0", optional = true }
once_cell = "1.17.1"

[features]
capture_log = ["log", "log4rs"]

[dependencies.marginfi]
path = ".."
features = ["no-entrypoint", "debug", "client"]

# # Prevent this from interfering with workspaces
# [workspace]
# members = ["."]

[profile.release]
debug = 1

[[bin]]
name = "lend"
path = "fuzz_targets/lend.rs"
test = false
doc = false
